body {
  height: 100vh;
  /*background-image: linear-gradient(rgb(92, 100, 221), rgb(109, 150, 197));*/
  background-color: #02c39a;
  color: #f0f3bd;
  /* background-image: url("7600.jpg"); */
  /* background-color: #cccccc; */
}
.logo {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
}
h1 {
  margin: 4px 0;
  font-size: 54px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #056;
}
.container {
  max-width: 955px;
  /* border: 2px solid black; */
  background-color: rgba(255, 255, 255, 0.5);
  /* opacity: 0.7; */
  border-radius: 13px;
  padding: 33px;
  margin: auto;
  height: 60vh;
  overflow-y: auto;
  margin-bottom: 20px;
}
.message {
  background-color: #056;
  width: 24%;
  padding: 10px;
  margin: 17px 2px;
  color: beige;
  border: none;
  border-radius: 12px;
}
.right {
  float: right;
  clear: both;
}
.left {
  float: left;
  clear: both;
}
.send {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 985px;
  width: 100%;
}
#send-container {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 1085px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
#messageInp {
  width: 77%;
  border: none;
  border-radius: 6px;
  height: 43px;
  font-size: 22px;
  font-family: serif;
  margin-top: 1px;
  margin-left: -33px;
}
.btn {
  cursor: pointer;
  border: 2px solid black;
  height: 42px;
  width: 9%;
  background-color: #028090;
  margin-right: 8px;
  font-size: 19px;
  border-radius: 25px;
  border: none;
  color: #f0f3bd;
  margin-left: 6px;
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  color: #f0f3bd;
  background-color: #028090;
  border-radius: 25px;
  height: 47px;
  padding: 15px;
}
dropbtn:hover {
  background-color: #f0f3bd;
  color: #028090;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #04aa6d;
}
form {
  margin-top: 15px;
  margin-bottom: 15px;
}
form.btn {
  padding: 15px;
}
#btn2 {
  border-radius: 6px;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: #f0f3bd;
  background-color: #028090;
  font-size: larger;
}

input {
  font-size: larger;
}
